* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "VT323";
    /* font-family: "Bitcount_Prop_Single"; */
}

@font-face {
    font-family: "VT323";
    /* font-family: "Bitcount_Prop_Single"; */
    font-style: regular;
    src: local(""),
        url("assets/fonts/vt323.ttf") format("truetype");
    /* url("assets/fonts/bitcount.ttf") format("truetype"); */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow: scroll;
}
